doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='/bootstrap-3.3.1/docs/favicon.ico')
    title Foster

    // Bootstrap core CSS
    link(href='/bootstrap-3.3.1/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/layout.css', rel='stylesheet')
    // Just for debugging purposes. Don't actually copy these 2 lines!
    //if lt IE 9
    script(src='/bootstrap-3.3.1/docs/assets/js/ie8-responsive-file-warning.js')
    script(src='/bootstrap-3.3.1/docs/assets/js/ie-emulation-modes-warning.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='/bootstrap-3.3.1/docs/assets/js/ie10-viewport-bug-workaround.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')


    // Custom styles for this template
    link(href='/bootstrap-3.3.1/docs/examples/carousel/carousel.css', rel='stylesheet')
  // NAVBAR
  // ==================================================
  body
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-static-top(role='navigation')
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/') Foster
            .navbar-collapse.collapse
              ul.nav.navbar-nav
                li
                  a(href='/dLogin') Donor Portal
                li
                  a(href='/nLogin') NGO Portal
                li
                  a(href='/contact') Contact Us
    // Carousel
    // ==================================================
    #myCarousel.carousel.slide(data-ride='carousel')
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      .carousel-inner
        .item.active
          img(src='images/QQ20151018-1.png', alt='First slide')
          .container
            .carousel-caption
              h1 Foster
              p
                //TODO - Button goes to some paypal portal
                a.btn.btn-lg.btn-primary(href='/donate', role='button') Donate
              p  
        .item
          img(src='images/QQ20151018-2.png', alt='Second slide')
          .container
            .carousel-caption
              h1 Foster
              p
                //TODO - Button goes to some paypal portal
                a.btn.btn-lg.btn-primary(href='/donate', role='button') Donate
              p
        .item
          img.img-rounded(src='images/QQ20151018-3.png', alt='Third slide')
          .container
            .carousel-caption
              h1 Foster
              p
                //TODO - Button goes to some paypal portal
                a.btn.btn-lg.btn-primary(href='/donate', role='button') Donate
              p
      a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right
    // /.carousel
    
    // Marketing messaging and featurettes
    // ==================================================
    // Wrap the rest of the page in another container to center all the content.
    .container.marketing
      // Three columns of text below the carousel
      .row
        .col-lg-3
          //TODO - insert images of 4 parties involved
          img.img-circle(src='images/donor.png', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 Donor
          p
            | Donors are the lifeblood of our company.  Without their support, we could not exist.
          p
            a.btn.btn-default(id='donorButton') Learn More &raquo;
        // /.col-lg-3
        .col-lg-3
          img.img-circle(src='images/logo.jpg', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 Foster
          p
            | We help connect the donor with an important cause and return qualitative information about their impact.
          p
            a.btn.btn-default(id='fosterButton') Learn More &raquo;
        // /.col-lg-3
        .col-lg-3
          img.img-circle(src='images/ngo.jpg', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 NGO
          p
            | The NGO receives credit towards Amazon products and buy through our platform which is connected to the marketplace.  We track all purchases.
          p
            a.btn.btn-default(id='donorButton') Learn More &raquo;
        // /.col-lg-3
        .col-lg-3
          img.img-circle(src='images/amazon.jpg', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 Amazon
          p
            | We partner with amazon due to their product availability and delivery power.
          p
            a.btn.btn-default(id='donorButton') Learn More &raquo;
        // /.col-lg-3
      // /.row
    .container  
      hr.featurette-divider
      iframe(width="560" height="315" src="https://www.youtube.com/embed/kNDNmwWSi7A" frameborder="0" allowfullscreen)

      // /END THE FEATURETTES
      // FOOTER
    .container  
      footer
        p.pull-right
          a(href='#') Back to top
        p
          | &copy; 2015 Foster, Inc. &middot;  
          a(href='#') Privacy
          |  &middot; 
          a(href='#') Terms
    // /.container
    
    // Bootstrap core JavaScript
    // ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/bootstrap-3.3.1/dist/js/bootstrap.min.js')
    script(src='/bootstrap-3.3.1/docs/assets/js/_vendor/holder.js')

    // Custom JavaScript
    script(src='/javascripts/layout.js')