/*table {
	border-collapse: collapse;

}

td {
	font-weight: 10px;
	color: green
	border: 1px solid black;
}*/

table tr td {
  border-collapse: collapse;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  border: 5px solid black;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

table {
	margin: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

table tr th {
  text-align: center;
}
	